@model IEnumerable<BleToDo0._2.Models.Afazer>
@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">


    @foreach (var item in Model)
    {   <br />
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">@Html.DisplayFor(modelItem => item.AFZ_TITULO)</h2>
            </div>
            <div class="mdl-card__supporting-text">
                @Html.DisplayFor(modelItem => item.AFZ_DESCRICAO)
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    
                    @Html.DisplayFor(modelItem => item.AFZ_CATEGORIA)
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">

                    @Html.DisplayFor(modelItem => item.AFZ_NIVEL)
                </a>
              
            </div>
        </div>
    }



</div>